/* Calendar */
.calendar {
    background-color: #fafafa;
}

.calendar__header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 40px;
}
.calendar__header button {
    width: 33px;
    height: 33px;
}

.calendar__header button:hover {
    background-color: #b3d4fc;
}

.calendar__header h4 {
    text-align: center;
    font-weight: normal;
}

.calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    padding: 0 16px;
    font-size: 14px;
}
.calendar__body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    color: #141414;
}

.calendar__body > button:hover {
    text-decoration: none;
    background-color: #b3d4fc;
    color: #141414;
}

.calendar__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 24px;
}
.calendar__footer > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px 16px 0;
    color: #42A4F4;
}
.calendar__footer > button > p {
    margin-left: 6px;
}


.is-non-current-month {
    color: #cccccc;
}

.is-today {
    background-color: #E9F5FF;
}

.is-current-period {

}